<h1 mat-dialog-title>Hvor skal vi?</h1>
<div mat-dialog-content>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step>
            <ng-template matStepLabel>Velg bok</ng-template>
            <button *ngFor="let book of toc$ | async" mat-button matStepperNext (click)="selectedBook = book">{{book.lbl}}</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Velg Kapittel</ng-template>
            <a *ngFor="let chapter of selectedBook?.toc" mat-button routerLink="tekst/{{selectedBook.lbl}}/{{chapter.lbl}}" (click)="onClose()">{{chapter.lbl}}</a>
        </mat-step>
    </mat-vertical-stepper>
</div>
