<div class="primary-background-color logo-container"><img src="assets/apen-bibel-32x22.png" width="32" height="22"/></div><br/>
<br/>

<button mat-icon-button aria-label="Bla i Bibelen" [matMenuTriggerFor]="tocMenu">
    <i class="material-icons">toc</i>   
</button>

<!-- Root menu -->
<mat-menu #tocMenu="matMenu" xPosition="after" [overlapTrigger]="false">
  <ng-container *ngFor="let book of books | async">
    <button mat-menu-item [matMenuTriggerFor]="chapters">{{book.lbl}}
      <mat-menu #chapters="matMenu">
        <button mat-menu-item *ngFor="let chapter of book.toc" routerLink="tekst/{{book.dir}}/{{chapter.fnm}}">{{chapter.lbl}}</button>
      </mat-menu>
    </button>
  </ng-container>
</mat-menu>

