<div class="menu-container">
    
    <div class="menu-item primary-background-color">
        <img src="assets/apen-bibel-32x22.png" width="32" height="22"/>
    </div>
    
    <a class="menu-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <fa-icon icon="home" size="lg"></fa-icon>
    </a>
    
    <a class="menu-item" routerLink="/tekst" routerLinkActive="active">
        <fa-icon icon="book-reader" size="lg"></fa-icon>
    </a>
    
    <!-- This extends the border down the remaining vertical space of the sidebar -->
    <div class="menu-filler">
        &nbsp;
    </div>
</div>
