/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background-color: #fafafa;
}

mat-card {
    padding: 16px;
}

.formatted-text {
    white-space: pre-wrap;
}